.vs/
Build/

Guardian Editor/Intermediate/
Guardian Engine/Intermediate/
Guardian EUI/Intermediate/
Guardian Runtime/Intermediate/
Third Party/ImGui/Intermediate/
Third Party/yaml-cpp/Intermediate/
Third Party/spdlog/Intermediate/

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user